.title {
    font-weight: 600;
    line-height: math.div(65, 70);
    color: #fff;
    @include adaptiveValue('font-size', 70, 45);
    span {
        color: $mainGreen;
    }
    &_s64 {
        @include adaptiveValue('font-size', 64, 40);
    }
}
.text {
    line-height: 180%;
}
.form {
    &__input {
    }
    &__button {
    }
}
.image-block {
    position: relative;
    display: flex;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    border-radius: rem(20);
    @include adaptiveValue('padding-top', 165, 30);
    @include adaptiveValue('padding-bottom', 165, 30);
    @include adaptiveValue('padding-left', 45, 30);
    @include adaptiveValue('padding-right', 45, 30);
    &::before,
    &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 1px solid #fff;
        @include adaptiveValue('width', 585, 350);
        @include adaptiveValue('height', 585, 350);
        top: 0;
        right: 0;
    }
    &::before {
        transform: translate(calc(50% - rem(18)), -20%);
    }
    &::after {
        transform: translate(calc(50% - rem(20)), -6%);
    }
    &__item {
        position: relative;
        z-index: 2;
        flex: 1 1 100%;
        img {
            max-width: 100%;
            border-radius: rem(20);
        }
    }
}
