.footer {
    background-color: rgba(53, 64, 70, 0.5);
    &__container-big {
    }
    &__container {
    }
    &__main {
        @include adaptiveValue('padding-top', 68, 30);
        @include adaptiveValue('padding-bottom', 100, 30);
        border-bottom: 1px solid rgba(255, 255, 255, 0.42);
    }
    &__bottom {
        @include adaptiveValue('padding-top', 68, 30);
        @include adaptiveValue('padding-bottom', 100, 30);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
    }
    &__copy {
        font-size: rem(12);
        line-height: math.div(14, 12);
    }
    &__menu {
    }
}
.main-footer {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(3, 1fr);
    &__info {
        max-width: rem(330);
    }
    &__logo {
        display: inline-block;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    &__text {
    }
    &__form {
        justify-self: center;
    }
    &__contacts {
        justify-self: end;
        display: flex;
        @include adaptiveValue('gap', 48, 20);
    }
    &__social {
    }
    &__label {
        font-weight: 700;
        font-size: rem(16);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    &__call-us {
    }
    &__phone {
        font-size: rem(16);
    }
}
.form-main {
    &__text {
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    &__form {
    }
}
.social {
    display: flex;
    gap: rem(16);
    &__item {
        flex: 0 0 rem(48);
        width: rem(48);
        height: rem(48);
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.menu-footer {
    &__list {
        display: flex;
        @include adaptiveValue('gap', 40, 15);
    }
    &__item {
    }
    &__link {
        font-size: rem(14);
        line-height: math.div(16, 14);
    }
}
