@use 'sass:math';
@import './base/mixins.scss';

//! <Подключение шрифтов>
@import url('https://fonts.googleapis.com/css?family=League+Spartan:300,regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:regular,500&display=swap');
@import './base/fonts.scss';
//! </Подключение шрифтов>

//! <Иконочные шрифты>
@import './fonts/icons.scss';
//! </Иконочные шрифты>

//! <Переменные>
@import './base/variables.scss';
//! </Переменные>
@import './base/null.scss';

//! <Обнуление, сетка, параметры>
body {
    background-color: $mainDark;
    color: $mainColor;
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: 500;
    ._lock & {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
    .loaded & {
    }
}
//! </Обнуление, сетка, параметры>

//! <Основная сетка>
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //* Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    //* Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
[class*='__container'] {
    max-width: rem(1420);
    margin: 0 auto;
}
@if ($responsiveType==1) {
    // Отзывчивая
    [class*='__container-big'] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*='__container'] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}
//! </Основная сетка>

@import './forms/forms.scss';

//! <Подключение блоков>
@import './base/ui.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
//! </Подключение блоков>
